
body {
  margin: 0;

  font-size: 14px;
  font-family: Arial, sans-serif;
  line-height: 26px;
  color: #333333;
  background-color:#f2f2f2;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  margin-top: 0;
}

select {
  height: 23px;
  min-width: 120px;
}

textarea {
  resize: none;
  box-sizing: border-box;
}

textarea:disabled {
  background-color: #ececec;
}

input {
  line-height: 17px;
}

.app-wrapper {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  width: 1200px;
  margin: 0 auto;
}

.app-main {
  display: flex;
  justify-content: space-between;
  padding: 30px;

}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  min-width: 80px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  font-weight: bold;
  line-height: 22px;
  text-transform: uppercase;

  background-color:#81b3d2;
  border: none;
  cursor: pointer;
}

.medium-button {
  min-width: 150px;
}

.button:focus:not([disabled]),
.button:hover:not([disabled]) {
  background-color: #669ec0;
}

.button:active:not([disabled]) {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button:disabled {
  opacity: 0.6;
}

.commands-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.commands-list hr {
  margin: 20px 0;
  border-top: 1px dotted;
}

.commands-list .credentials {
  margin-top: 6px;
}

.commands-list .credentials input:first-child {
  margin-right: 8px;
} 

.command-block-content {
  display: flex;
}

.command-block-input {
  flex-grow: 1;
}

.command-block button:first-child {
  margin-right: 8px;
}

.commit-command button, .commit-command textarea {
  display: block;
}

.commit-command button:first-child{
  margin-bottom: 6px;
}

.commit-command textarea{
  width: 100%;
}

.main-content {
  flex-grow: 1;
  margin-left: 100px;
}

.output {
  margin-bottom: 20px;
}

.output textarea {
  width: 100%;
}

.repo-content {
  display: flex;
  justify-content: space-between;
}

.repo-content .conflict-file {
  font: red;
}

.repo-content .repo-file {
  cursor: pointer;
}

.repo-content .repo-file-wrapper {
  display: flex;
}

.repo-content .repo-file-selected {
  font-weight: bold;
}

.repo-content .add-file-wrapper {
  display: flex;
}

.repo-content .add-file-wrapper h3 {
  margin-right: 8px;
}

.add-remove-file {
  font-size: 28px;
  font-weight: bold;
  color: #a9a9a9;
  background-color:inherit;
  width: 38px;
  line-height: 26px;

  border: none;
  padding: 0;
  outline: none;

  cursor: pointer;
}

.add-remove-file.minus-btn {
  font-size: 34px;
}

.add-remove-file:focus,
.add-remove-file:hover {
  color: black;
}

.add-remove-file:active {
  color: #81b3d2;
}

.main-settings {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.main-settings label {
  margin-right: 12px;
}

.repo-files {
  width: 40%;
}

.files-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.file-content {
  width: 60%;
}

.file-content textarea {
  width: 100%;
}

.file-content-buttons {
  text-align: right;
  margin-bottom: 6px;
}

