
body {
  margin: 0;

  font-size: 14px;
  font-family: Arial, sans-serif;
  line-height: 26px;
  color: #333333;
  background-color:#f2f2f2;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  margin-top: 0;
}


.app-wrapper {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  width: 1200px;
  margin: 0 auto;
}

.app-main {
  display: flex;
  padding: 20px;

}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  font-weight: bold;
  line-height: 21px;
  text-transform: uppercase;

  background-color:#81b3d2;
  border: none;
  cursor: pointer;
}

.button:focus,
.button:hover {
  background-color: #669ec0;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.commands-list {
  list-style: none;
  padding: 0;
  margin: 0;
}


.commands-list hr {
  margin: 20px 0;
  border-top: 1px dotted;
}

.repo-content {
  display: flex;
}